#hyperscala_connect_error {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.hyperscala_connect_error_hidden {
    opacity: 0;
    display: none;
    pointer-events: none;
}

#hyperscala_connect_error > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    color: #fff;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
}

#hyperscala_connect_error .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

#hyperscala_connect_error .close:hover {
    background: #999;
}