dl {
    margin-right: 2em;
    width: 500px;
}
dt {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 0.7em;
}
dd {
    background:none no-repeat left top;
    color: #444;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 0 2em;
    padding-left: 4.5em;
}