@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  background: url('/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

label.code_generator {
    display: block;
    margin: 5px;
}

textarea.code_generator {
    width: 873px;
    height: 400px;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-light {
    background-image: -webkit-linear-gradient(top, #fff 0%, #777 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #777 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#777));
    background-image: linear-gradient(to bottom, #fff 0%, #777 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
}
.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .active > a {
    background-image: -webkit-linear-gradient(top, #080808 0%, #0f0f0f 100%);
    background-image: -o-linear-gradient(top, #080808 0%, #0f0f0f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#0f0f0f));
    background-image: linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, #2d6ca2 0%, #202E39 100%);
    background-image: -o-linear-gradient(top, #2d6ca2 0%, #202E39 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2d6ca2), to(#202E39));
    background-image: linear-gradient(to bottom, #2d6ca2 0%, #202E39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #2b669a;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #202E39;
    background-position: 0 -15px;
}

.container.wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
}

a {
    color: #202E39;
}

p a {
    text-decoration: underline;
}

.panel-primary {
    border-color: #202E39;
}

.panel-heading {
    background-image: -webkit-linear-gradient(top, #2d6ca2 0%, #202E39 100%) !important;
    background-image: -o-linear-gradient(top, #2d6ca2 0%, #202E39 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2d6ca2), to(#202E39)) !important;
    background-image: linear-gradient(to bottom, #2d6ca2 0%, #202E39 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
    background-repeat: repeat-x !important;
    border-color: #2b669a !important;
}

.panel-title {
    font-weight: bold;
}

.navbar-nav {
    font-weight: bold;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav > li > a {
    text-shadow: none !important;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    color: #243441;
    margin-bottom: 30px;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
    color: #243441;
}

hr {
    border-color: #243441 !important;
    clear: both;
}

.panel-heading {
    cursor: pointer;
}

.panel-heading:after {
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-size: 14px;
    content: "\e114";
    float: right;
    color: white;
    margin-top: -18px;
}
.panel-heading.collapsed:after {
    content: "\e080";
}

#logo {
    padding-top: 3px;
    z-index: 100 !important;
}

.badge {
    font-size: 12px !important;
    min-width: 30px !important;
}

.example_back {
    margin-top: 15px;
    clear: both;
}