@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
    background: url('/images/background.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}
body {
    background: url('/images/transbg.png') repeat-y center top;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: #557;
}

#wrap {
    margin: 0 auto;
    padding: 1px 30px;
    width: 960px;
    height: 100%;
}

#middle {
    margin: 15px;
}

#middle .view_source {
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    margin-top: 25px;
    background: linear-gradient(to bottom, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
}

#middle .view_source:hover {
    background: linear-gradient(to top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
}

#main {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    overflow: auto;
    padding: 15px;
}

.menuItem {
    font-size: 14pt;
    font-weight: bold;
    width: 125px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.menuItem a {
    text-decoration: none;
    color: white;
    display: inline-block;
}
.menuItem a:hover {
    color: #072459;
    text-decoration: underline;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
}

label.code_generator {
    display: block;
    margin: 5px;
}

textarea.code_generator {
    width: 873px;
    height: 400px;
}